#content {
    width: 100%;
    padding: 40px;
    min-height: 100%;
    transition: all 0.3s;
    overflow: auto;
}

#content h2, h3 {
    padding-bottom: 40px;
    padding-top: 40px;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    padding-bottom: 20px;
}

.wrapper {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: stretch;
}



pre {
    display: inline-flex;
}

.padding-14 {
    padding: 14px;
}

/*td.hljs-ln-code:hover {
    background-color: lightcoral;
}*/