.rounded {
    border-radius: 50%;
    border: solid 1px;
    border-color: blue;
    background-color: blue;
    color: white;
    padding: 4px 8px;
}

.rounded:hover {
    border-color: blue;
    background-color: white;
    color: blue;
}