<nav>
    <div class="sidebar-header">
        <h3 id="sidebar-header"></h3>
    </div>

    <ul class="list-unstyled">
        <p>Dummy Heading</p>
        <li>
            <a data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="true" aria-controls="collapse1">Submenu 1
                <img name="arrow_menu">
            </a>
            <ul class="collapse show list-unstyled" id="collapse1">
                <li>
                    <a href="#" onclick="changeContent('mainView.paths.content1');hideMenuForMobile()">Content 1</a>
                </li>
                <li>
                    <a href="#" onclick="changeContent('mainView.paths.content2');hideMenuForMobile()">Content 2</a>
                </li>
            </ul>
        </li>
        <li>
            <a data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="true" aria-controls="collapse2">Submenu 2
                <img name="arrow_menu">
            </a>
            <ul class="collapse show list-unstyled" id="collapse2">
                <li>
                    <a href="#" onclick="changeContent('mainView.paths.content3');hideMenuForMobile()">Content 3</a>
                </li>
                <li>
                    <a href="#" onclick="changeContent('mainView.paths.content4');hideMenuForMobile()">Content 4</a>
                </li>
            </ul>
        </li>
    </ul>
    
    <div name="divider"></div>

    <a data-bs-toggle="collapse" href="#collapse-links" role="button" aria-expanded="true" aria-controls="collapse-links">Links</a>
    <ul class="collapse show list-unstyled" id="collapse-links">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip">Download source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar">Bootstrap Sidebar</a>
        </li>
    </ul>
</nav>