<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
                
        <div class="brand-container">
            <button type="button" id="sidebarCollapse" class="btn btn-light" onclick="toggleSidebar()">
                <i class="bi bi-layout-text-sidebar"></i>
            </button>
            
            <img id="logo" height="40px">
            
            <a id="nav-topic" class="navbar-brand" href="#" onclick="changeView('mainView')"></a>
        </div>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#" onclick="changeView('mainView')">Main View</a>
                <a class="nav-link active" href="#" onclick="changeView('anotherView')">Another View</a>
            </div>
        </div>
    </div>
</nav>